section.event-promo-section
  .event-center
    .container
      .row
        .col-lg-9.col-md-8
          h1 Unfold UI
          h2 Redesign possibilities - Redefine Thoughts
        .col-lg-3.col-md-4
          .event-date
            p
              | Pune
              span 28
              |  July, 2018
