section#faq.event-banner-section
  .container
    .row
      .col-lg-9.col-md-8
        h1 FAQ?
        dl.text-white
          dt Do I have to pay for attending the event?
          dd
            | Absolutely NO. It's a free UI community event.
            br
            br
          dt I'm not from UI background, can I attend?
          dd
            | Yes please.
            br
            br
          dt Can I bring my friend/collegue along?
          dd
            | Yes, let us know well before or ask them to register.
            br
            br
          dt Can I get my laptop?
          dd
            | Yes, if you want to attend hands on workshops, please bring your own, we will update you with pre-requisites.
      //
        <div class="col-lg-3 col-md-4">
        <div class="button-banner-box">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScf_WKLegQYTV1uVZsnv0Yr6zA2aEYSS85x0Oq4KRVIT3V0TA/viewform" target="_blank"
        class="default-button">Register</a>
        </div>
        </div>