section#about.about-section
  .container
    .about-box
      .title-section
        h1 About Unfold UI
      p.about-body
        | Unfold UI is a free to attend #[b UI focused] community event, organized by #[b ThoughtWorks].
        | We are bunch of passionate developers operating with the latest frontend technologies.
        | Our goal is to bring frontend developers from all across the industry together,
        | to share learnings and knowledge, grow our professional networks and more importantly have fun.
      h2.sub-heading
        | &ldquo;The Core&rdquo;
      p.about-body
        | Our focus for this first ever edition of Unfold UI is #[b &lsquo;The Core&rsquo;] -
        | #[em The Core essentials of UI Development.]
        | Web frameworks, libraries come and go, but the fundamental concepts remain intact and the solid understanding of those can go a long way.

      h2.sub-heading Why you should attend
      p.about-body
        | Innovation in front-end technology happens daily. Frameworks and tools come and go before we get time to react.
        | You may personally not have gotten a chance to dip your feet in that promising new tool announced on your
        | twitter feed, but be assured, someone somewhere has fiddled with it and has a story to tell. d
        | Unfold UI aims to be that platform for sharing these stories and experiences.

      p.about-body
        | You will get to:
      ul.about-body.paragraph
        li Learn from your peers in the industry about what works, what does not and see how they are solving their challenges
        li Discuss and debate with fellow developers on any topic that sparks common interest so that we can all learn something new
        li Code and sharpen your own skills through hands-on workshops
      p.about-body
        | We hope all of this inspires you to create and conceive your own solutions in your day-to-day work lives.
      p.about-body
        | And the best part of it all, it’s #[b Free!] All we ask for, is your presence and enthusiasm.