section#about.about-section
  .container
    .about-box
      .title-section
        h1 About Conference
      p.about-body
        | As the UI community in ThoughtWorks, we have always been playing with new tech and incubating ideas. So finally we have decided to share our stories and learning.
      p.about-body
        | Unfold UI aims to become a platform for frontend developers to come together, share knowledge grow their network. We will have deep dives into latest industry trends and technologies in this space. From nifty CSS tricks to revisiting
        | the core web concepts, there is something for everyone.
  ul.timeline.timeline--first
    li.era
      h2.era__title
        span 4
        sup th 
        span August
    li.entry.entry--left
      .time.time--right 9:30 AM
      .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
        h2 Bacon Ipsum
        p
          | Bacon ipsum dolor amet ball tip jerky sirloin pancetta capicola prosciutto meatball pig leberkas
          | cow pork chop shank meatloaf.
    li.entry.entry--right
      .time.time--left 10:30 AM
      .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
        h2 Bacon Ipsum
        p
          | Ground round short ribs fatback, salami shoulder sausage chuck shankle landjaeger drumstick ribeye
          | meatloaf doner.
    li.entry.entry--left
      .time.time--right 11:30 AM
      .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
        h2 Bacon Ipsum
        p
          | Swine pork belly prosciutto jowl pork chop chicken filet mignon cupim doner boudin.

      //.video-box
        // youtube
        // <iframe class="videoembed" src="https://www.youtube.com/embed/7QG8tJtxt7U?title=0&amp;byline=0&amp;portrait=0"></iframe>
        // End youtube