section#about.about-section
  .container
    .about-box
      .title-section
        h1 About Unfold UI Pune 2018
    .body
      p.about-body
        | Unfold UI is a free to attend #[b UI focused] community event, organized by #[b ThoughtWorks].
        | We are bunch of passionate developers operating with the latest frontend technologies.
        | Our goal is to bring frontend developers from all across the industry together,
        | to share learnings and knowledge, grow our professional networks and more importantly have fun.