section#about.about-section
  .container
    .about-box
      .title-section
        h1 About Conference
      p.about-body
        | As the UI community in ThoughtWorks, we have always been playing with new tech and incubating ideas. So finally we have decided to share our stories and learning.
      p.about-body
        | Unfold UI aims to become a platform for frontend developers to come together, share knowledge grow their network. We will have deep dives into latest industry trends and technologies in this space. From nifty CSS tricks to revisiting
        | the core web concepts, there is something for everyone.
      //.video-box
        // youtube
        // <iframe class="videoembed" src="https://www.youtube.com/embed/7QG8tJtxt7U?title=0&amp;byline=0&amp;portrait=0"></iframe>
        // End youtube