section#contact.contact-section
  .container
    .title-section
      h1 Venue & Contact
    .contact-box
      .row
        .col-lg-6.col-md-6
          .contact-post
            img(src='./assets/images/icons/person-8.png', alt='ThoughtWorks')
            .contact-post-content
              h2 ThoughtWorks Technologies (India) Pvt Ltd.
              span Pune, India
    .contact-info
      .row
        .col-lg-4.col-md-6.offset-lg-8.offset-md-6
          .inner-contact-info
            img(src='./assets/images/icons/location.png', width='40px')
            p ThoughtWorks, Pune, India
            img(src='./assets/images/icons/phone.png', width='40px')
            p
              | +91 20 4105 7863
              br
              | +91 20 4105 7878
            img(src='./assets/images/icons/mail.png', width='32px')
            p info-in@thoughtworks.com
  #map
    iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3782.4005719501647!2d73.8897111!3d18.555971!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcd58a64a848651e5!2sThoughtWorks+Technologies+India+Private+Limited!5e0!3m2!1sen!2sin!4v1528899795375', width='100%', height='500', frameborder='0', style='border:0', allowfullscreen='')