section#contact.contact-section
  .container
    .title-section.contact-content
      h1 Venue &amp; Contact
      .row
        .col-md-4.col-xs-12 
          strong Office: 
          span ThoughtWorks Technologies (India) Pvt Ltd. 
          span #601/602, 6th Floor, 
          span Brigade Nalapad,
          span Mahadevpura
          span Bangalore-560048
          span India 

        .col-md-4.col-xs-12
          strong Phones: 
          ul.contact-list
             li +91 80 4064 9570/71/72/73
             li +91 80 4323 3700
             li +91 80 2552 1263
             li +91 80 4622 2888
        .col-md-4.col-xs-12
          strong Email:
          span unfoldui@thoughtworks.com    
  #map
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6741307800953!2d77.69986711534185!3d12.992682390842031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae119f0770608b%3A0xd1289eeed1775998!2sThoughtWorks+Whitefield!5e0!3m2!1sen!2sin!4v1552549949358', width='100%', height='300', frameborder='0', style='border:0', allowfullscreen='')