section.webinar-section.generic-middle-section#webinar
  .container
    .title-section
      h1 Content from our first edition
    .row
      .col-sm-6.col-md-8
        p We had our first edition on 11th August, 2018.
        p Stay tuned to hear more on our upcoming event in another city close to you.
      .col-sm-6.col-md-4.side-section
        a#content-btn.cta-button(href='./content.html') Content
        