section.webinar-section.generic-middle-section#webinar
  .container
    .title-section
      h1 Content from our first edition
    .row
      .col-sm-6.col-md-8
        p We had our first edition on 11th August, 2018.
        p And we are happy to announce our second edition, which is going to happen in Bangalore on #[b 6th April 2019].
      .col-sm-6.col-md-4.side-section
        a#content-btn.cta-button(href='./content.html') Content
        