section.event-promo-section
  .event-center
    .container
      include logo
      h2 Redesign Possibilities, Redefine Thoughts
      h4
        .time-n-date 
          strong
            span 4
            sup th 
          span August, 2018 
          strong | 
          span Pune
