section.event-promo-section
  .event-center
    .container
      include logo
      h2 Redesign Possibilities, Redefine Thoughts.
      .event-date-place 6th April 2019, ThoughtWorks Bangalore
      .register-section.register-button-container
        a(href='https://goo.gl/forms/Z2Fx0KpQjNVhCDiO2',target='_blank') Register Now