section#faq.event-banner-section
  .container
    .row
      .col-sm-12
        h1 FAQs
        dl.text-white
          dt Do I have to pay for attending the event?
          dd
            | Absolutely NO. It's a free UI community event.
            br
            br
          dt I'm not from UI background, can I attend?
          dd
            | Yes please.
            br
            br
          dt Can I bring my friend/colleague along?
          dd
            | Yes, let us know well before or ask them to register.
            br
            br
          dt Can I get my laptop?
          dd
            | Yes, if you want to attend hands on workshops, please bring your own, we will update you with pre-requisites.