section#faq.event-banner-section
  .container
    .row
      .col-sm-12
        h1 FAQs
        dl
          dt Why is the conference free?
          dd
            | We at ThoughtWorks believe in sharing knowledge. Most of our tech community events and conferences, including this one, are free of cost to participate.
            br
            br
          dt I'm not from UI background, can I attend?
          dd
            | Yes! Please do. You can evaluate how these front-end technologies affect your area of work. We believe we can learn something from your views too.
            br
            br
          dt Should I bring my laptop along?
          dd
            | If you plan to attend the hands-on workshop, please make sure you bring your own.
            br
            br
          dt I have a topic I’d like to talk about/ share at the event. How do I go about it?
          dd
            | Super! We would be glad to have you speak at our event. Please drop us an email and we’ll get in touch with you.