footer#footer
  .container
    .up-footer
      .row
        .col-md-6
          .footer-widget.connect-widget
            h2 Connect with us
            p Get the latest updates.
            ul.social-icons
              li
                a.facebook(target='_blank', href='https://www.facebook.com/Unfold-UI-2024560771153440/')
              li
                a.twitter(target='_blank', href='https://www.twitter.com/UnfoldUI')
        .col-md-6.text-align-right
          .footer-widget.text-widget
            h2 About ThoughtWorks
            p
              | We are a software company and a community of passionate, purpose-led individuals. We think disruptively to deliver technology to address our clients' toughest challenges, all while seeking to revolutionize the IT industry
              | and create positive social change.
    .copyright-line.row
      .col-xs-12.col-md-6.text-align-left All rights reserved
      .col-xs-12.col-md-6.text-align-right
        span Powered by
        img(src='./assets/images/icons/tw.svg', style='margin-left: 10px;')