header.clearfix
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      a.navbar-brand(href='./index.html')
        h2.nav-logo-unfold
          img(src='./assets/images/icons/tw.svg')
          .logo-location Pune
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.nav-stroke.w-100(style='justify-content: flex-end')
          li.nav-item
            a.nav-link(href='#home')
              span(data-hover='Home') Home
          li.nav-item
            a.nav-link(href='#about')
              span(data-hover='About') About
          li.nav-item
            a.nav-link(href='#faq')
              span(data-hover='FAQ') FAQ
          li.nav-item
            a.nav-link(href='#schedule')
              span(data-hover='Schedule') Schedule
          li.nav-item
            a.nav-link(href='#contact')
              span(data-hover='Contact') Contact
