header.clearfix
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      a.navbar-brand(href='./index.html')
        h2.nav-logo-unfold
          img(src='./assets/images/icons/tw.svg')
          .logo-location Pune
