script.
    function redirectToSection(sectionId) { window.location = `https://unfoldui.com/#${sectionId}`; return false; }
    //- function redirectToSection(sectionId) { window.location = `http://127.0.0.1:5500/#${sectionId}`; return false; }

header.clearfix
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      a.navbar-brand(href='http://thoughtworks.com')
        img(src='./assets/images/icons/tw_1.svg')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.nav-stroke.w-100(style='justify-content: center')
          li.nav-item
            a.nav-link(href='#home', onclick='redirectToSection("home");')
              span(data-hover='Home') Home
          li.nav-item
            a.nav-link(href='#about', onclick='redirectToSection("about");')
              span(data-hover='About') About
          li.nav-item
            a.nav-link(href='#schedule', onclick='redirectToSection("schedule");')
              span(data-hover='Schedule') Schedule
          li.nav-item
            a.nav-link(href='#faq', onclick='redirectToSection("faq");')
              span(data-hover='FAQ') FAQ
          li.nav-item
            a.nav-link(href='#contact', onclick='redirectToSection("contact");')
              span(data-hover='Contact') Contact
          li.nav-item
            a.nav-link(href='./content.html', onclick='redirectToSection("content");')
              span(data-hover='content') Last edition
      