.main-logo
  .t
    .t5 D
    .t4 L
    .t3 O
    .t2 F 
    .t1 N
    .t0 U
    

  .u
    .uShadow
    .one
    .two
    .l0
    .l0Shadow
    .l1
    .l2
    .l3
    .l4
    .l5
    .l6
    .ll
    .llShadow
    .r0
    .r1
    .r2
    .r3
    .r4
    .r5
    .r6
  .i
    .ii
    .r0
    .ir0Shadow
    .r1
    .r2
    .r3
    .r4
    .r5
    .ir5Shadow
    .r6
    .dot
    