title Unfold UI
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
link(rel="apple-touch-icon", sizes="57x57", href="./favicon/apple-icon-57x57.png")
link(rel="apple-touch-icon", sizes="60x60", href="./favicon/apple-icon-60x60.png")
link(rel="apple-touch-icon", sizes="72x72", href="./favicon/apple-icon-72x72.png")
link(rel="apple-touch-icon", sizes="76x76", href="./favicon/apple-icon-76x76.png")
link(rel="apple-touch-icon", sizes="114x114", href="./favicon/apple-icon-114x114.png")
link(rel="apple-touch-icon", sizes="120x120", href="./favicon/apple-icon-120x120.png")
link(rel="apple-touch-icon", sizes="144x144", href="./favicon/apple-icon-144x144.png")
link(rel="apple-touch-icon", sizes="152x152", href="./favicon/apple-icon-152x152.png")
link(rel="apple-touch-icon", sizes="180x180", href="./favicon/apple-icon-180x180.png")
link(rel="icon", type="image/png", sizes="192x192", href="./favicon/android-icon-192x192.png")
link(rel="icon", type="image/png", sizes="32x32", href="./favicon/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="96x96", href="./favicon/favicon-96x96.png")
link(rel="icon", type="image/png", sizes="16x16", href="./favicon/favicon-16x16.png")
link(rel="manifest", href="./favicon/manifest.json")
meta(name="msapplication-TileColor", content="#ffffff")
meta(name="msapplication-TileImage", content="./favicon/ms-icon-144x144.png")
meta(name="theme-color", content="#ffffff")

<meta name="description" content="Redesign Possibilities, Redefine Thoughts | Unfold UI is your platform for learning and sharing stories and experiences on front-end technology.">
<meta name="keywords" content="frontend, ui developer, ui development, user interface, VUI, voice user interface, animation, JS, ESNext, static type checking, readux, scala, progressive web apps, vuejs, technology, thoughtworks">

<meta name="twitter:title" content="Unfold UI | ThoughtWorks" />
<meta name="twitter:description" content="Redesign Possibilities, Redefine Thoughts | Unfold UI is your platform for learning and sharing stories and experiences on front-end technology." />
<meta name="twitter:image:src" content="https://unfoldui.com/assets/images/social/Unfold-UI-vol1-Pune-Edition-OG-Image_1200x630.png" />

<meta itemprop="name" content="Unfold UI | ThoughtWorks"/>
<meta itemprop="description" content="Redesign Possibilities, Redefine Thoughts | Unfold UI is your platform for learning and sharing stories and experiences on front-end technology." />
<meta property="og:title" content="Unfold UI | ThoughtWorks"/>
<meta property="og:description" content="Redesign Possibilities, Redefine Thoughts | Unfold UI is your platform for learning and sharing stories and experiences on front-end technology."/>
<meta property="og:image" content="https://unfoldui.com/assets/images/social/Unfold-UI-vol1-Pune-Edition-OG-Image_1200x630.png" />
<meta property="og:url" content="http://unfoldui.com" />

link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB', crossorigin='anonymous')
link(rel='stylesheet', type='text/css', href='assets/css/style.css?_=v2.0')
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800,900', rel='stylesheet', type='text/css')