section#registration.reg-sub-section
  .inner-reg-sub
    .register-box(style='text-align: left')
      p Want to present?
      span
        | Got some super cool idea and eager to share with community, here is the right chance for you to share.
      a.default-button(href='https://docs.google.com/forms/d/e/1FAIpQLScf_WKLegQYTV1uVZsnv0Yr6zA2aEYSS85x0Oq4KRVIT3V0TA/viewform', target='_blank') Register
    .subscribe-box(style='text-align: left')
      p When and Where?
        span ThoughtWorks, Pune
        span.where 28 July, 2018
      //- a.default-button(href='https://docs.google.com/forms/d/e/1FAIpQLScf_WKLegQYTV1uVZsnv0Yr6zA2aEYSS85x0Oq4KRVIT3V0TA/viewform', target='_blank') Register
    //
      <div class="subscribe-box">
      <p>Want to attend?</p>
      <span>Register, expand your knowledge about current UI development</span>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScf_WKLegQYTV1uVZsnv0Yr6zA2aEYSS85x0Oq4KRVIT3V0TA/viewform" target="_blank"
      class="default-button">Register</a>
      </div>
// End reg-sub section
//