section#registration.reg-sub-section
  .inner-reg-sub
    .register-box(style='text-align: left')
      p Want to present?
      span
        | Got some super cool idea and eager to share with community, here is the right chance for you to share.
      a.default-button(href='https://docs.google.com/forms/d/e/1FAIpQLScf_WKLegQYTV1uVZsnv0Yr6zA2aEYSS85x0Oq4KRVIT3V0TA/viewform', target='_blank') I Want to present
    .subscribe-box(style='text-align: left')
      p Want to attend?
        span Come and expand your knowledge about current UI development, connect with like minded people and have fun.
        span.where 4 August 2018
      a#attendance-form.default-button(href='javascript:;') I Want to attend