section.registeration-section
  .container
    .title-section
      h1 Want to attend?
    p 
      span Come and expand your knowledge about current UI development, connect with like minded people and have fun.
      span.where 4 August 2018
      a#attendance-form.register-button(href='./register.html') I Want to attend