section#thank-you-container
    .hero-banner
        .message-container
            .message-box
                p.main-message Thank You
                p.message-subtitle We'll be in touch
            .next-action
                a.go-back-btn(href="/") â† Back to Home