section#thank-you-container.background-image-container
  .hero-banner
    .message-container
      .message-box
        p.main-message Thank You
        p.message-subtitle We'll get back once your seat is confirmed.
      .next-action
        a.go-back-btn(href="/") â† Back to Home