mixin entryItem(entrySide, timeSide, data)
  li.entry(class='entry--'+entrySide)
      .time(class='time--'+timeSide)= data.time 
      .entry__content.wow.animated.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
        h2= data.title
        p= data.description
mixin entryList
  - var agendaJson = [{entry: 'left', time: 'right', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'right', time: 'left', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'left', time: 'right', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'right', time: 'left', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'left', time: 'right', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'right', time: 'left', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'left', time: 'right', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'right', time: 'left', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'left', time: 'right', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'right', time: 'left', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'left', time: 'right', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'right', time: 'left', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'left', time: 'right', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'right', time: 'left', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'left', time: 'right', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'right', time: 'left', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}},{entry: 'left', time: 'right', data: {time: '9:30 AM - 9:45 AM', title: 'Title', description: 'Description'}}]
  - for (var x = 0; x < agendaJson.length; x++)
    - var item = agendaJson[x]
    +entryItem(item.entry, item.time, item.data)

section.about-section
  ul.timeline.timeline--first
    li.era
      h2.era__title
        span Saturday, 4
        sup th 
        span August
    +entryList()