section.webinar-section.generic-middle-section#webinar
  .container
    .title-section
      h1 Want an early glimpse of the event?
    .row
      .col-sm-6.col-md-8
        p Join our pre-event webinar on #[i Functional Programming in JS and ESNext].
        p Explore the benefits of functional programming and dive into the superb features of ESNext.
      .col-sm-6.col-md-4.side-section
        a#attendance-form.cta-button.hacker-earth-button(href='https://www.hackerearth.com/blog/functional-programming-in-js-esnext', target="_blank") Register on HackerEarth