extends ../layout/layout.pug

block content
  include ../templates/partials/header-without-nav
  include ../templates/partials/event-promotion-section
  include ../templates/partials/about-section
  include ../templates/partials/registration-section
  include ../templates/partials/faq-section
  include ../templates/partials/contact-section
  include ../templates/partials/footer

block footerScripts
  script(src='assets/js/jquery.3.3.1.js')
  script(src='assets/js/popper.js')
  script(src='assets/js/bootstrap.min.js')
  script(src='assets/js/script.js')
