extends ../layout/layout.pug

block content
  include ../templates/partials/event-promotion-section
  include ../templates/partials/about-section
  include ../templates/partials/registration-section
  include ../templates/partials/timeline
  include ../templates/partials/faq-section

