extends ../layout/layout.pug

block content
  include ../templates/partials/header-without-nav
  include ../templates/partials/registration-form
  include ../templates/partials/contact-section
  include ../templates/partials/footer

block footerScripts
  style(rel='stylesheet', type='text/css').
    #container header .navbar { background: rgba(35, 35, 35, 0.8) !important; position: static !important;}
  script.
    function redirectToThankYou() { window.location.replace('/thank-you.html'); return false; }