extends ../layout/layout.pug

block content
  include ../templates/partials/thank-you

block footerScripts
  style(rel='stylesheet', type='text/css').
    #container header .navbar { background: #140c12 !important; position: static !important; }