//content-slides

.event-content-slides {
	padding: 100px 0 40px;

	.section-title {
		padding-bottom: 15px;
	}

	.row {
		display: -ms-flexbox; /* IE10 */
		display: flex;
		-ms-flex-wrap: wrap; /* IE10 */
		flex-wrap: wrap;
		padding: 0 4px;
		justify-content: space-around;
	}

	.column {
		-ms-flex: 33%; /* IE10 */
		flex: 33%;
		max-width: 33%;
		padding: 0 4px;
	}

	.slide-wrap {
		margin: 15px;
	}

	.slide-item {
		border: none;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.reveal-talk-links {
		text-align: center;
		padding: 25px
	}

	.reveal-talk-title {
		padding-bottom: 8px;
		display: block;
		font-weight: 500;
		line-height: 1.2;
		font-size: 20px
	}

	.reveal-talk-link-img {
		width: 300px;
		height: 200px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.social-wrap {
		background-color: $primary_color;
		border-radius: 50%;
		border: solid 1px $primary_color;
		overflow: hidden;
		margin: 0 10px;
		a {
			display: block;
			width: 100px;
			height: 100px;
			margin: 0 auto;
			text-indent: -9999px;
		}
		.facebook {
			background: $url_29 center center no-repeat;
		}
		.twitter {
			background: $url_30 center center no-repeat;
		}
	}
}

#content-btn {
	background-color: #1a73ba;
	color: #fff;
	float: right;
}