.nav-logo-unfold {
	float: left;
	color: $white;
	line-height: 1;
	font-size: 35px;
	margin-right: 10px;
	font-weight: 600;
	letter-spacing: 2px;
}

.nav-logo-unfold {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    .logo-location {
        display: block;
        margin-top: 5px;
        padding-top: 5px;
        border-top: solid 1px #fff;
    }
    img {
        display: block;
        height: 30px;
        margin: 0 !important;
    }
}