$iw: 50px;
$ih: $iw;
$clr: $primary_color;
$shadowClr: rgba(0,0,0,0.6);
$shadowWidth: $iw/7;
$height: 7;
$t: 300;
$ts: 300ms;

.nudge-left{
  padding-left: 4px;
}

.main-logo {
  width: 300px;
  height: 340px;
  overflow: hidden;
  margin: 0 auto;
  .u, .i {
    display: block;
    position: relative;
    & > div {
      position: absolute;
      border-style: solid;
      border-width: $iw/2;
      opacity: 0;
    }

    .two {
      border-color: $clr $clr transparent transparent;
      animation: open-right $ts forwards;
      transform-origin: 100% 0;
    }

    .one {
      border-color: $clr transparent transparent $clr;
      animation: open-left $ts forwards;
      transform-origin: 0 0;
    }

    .uShadow {
      position: absolute;
      border-color: $shadowClr $shadowClr transparent transparent;
      z-index: 2;
      right: 0;
      border-width: $iw 0 0 $shadowWidth;
      animation: blur-in $t*2ms forwards;
    }
  }

  .u {
    bottom: -$iw/2;
    left: $iw*2;
    width: $iw;
    height: $ih;
    background: $clr;
  }

  .i {
    bottom: $iw/2;
    left: $iw*5;
    width: $iw;
    height: $ih;
    background: transparent;
    & > div {
      left: 0;
    }
    .ii {
      position: absolute;
      border-style: solid;
      border-width: $iw/2; 
      border-color: $clr transparent transparent $clr;
      left: 0;
      bottom: 0;
      opacity: 1;
    }
  }

  @for $i from 0 through $height {
    $delay: $i*$t+$ts;
    @if $i == $height - 2{
      $topOffset: -100% * ceil($i / 2);
      .r#{$i}Shadow{
        border-width: $shadowWidth 0px 0px $iw !important;
        border-color: $shadowClr transparent transparent transparent;
        left: 100%;
        animation: blur-in 1s forwards;
        transform-origin: 0 0;
        animation-delay: $delay;
        top: #{$topOffset};
        z-index: 2;
      }
      .l#{$i}Shadow{
          border-width: $shadowWidth $iw $iw 0px !important;
          border-color: $shadowClr transparent transparent;
          left: -100%;
          top: #{$topOffset};
          animation: blur-in 1s forwards;
          animation-delay: $delay;
      }
    }
    @if $i == $height {
      .ll {
        border-color: $clr transparent transparent $clr;
        left: -100%;
        animation: open-left 1s forwards;
        transform-origin: 0 0;
        animation-delay: $delay;
        top: -100% * ceil($i / 2);
      }
      .dot {
        border-width: $iw/2.4 !important;
        border-color: transparent $clr $clr transparent;
        left: 100%;
        animation: fold-diagonally-left 1s forwards;
        animation-delay: $delay;
        top: -100% * ceil($i / 2);
      }
    }
    @if $i == 0 {
      .l0Shadow {
        border-color: $shadowClr $shadowClr transparent transparent;
        border-width: 0 $iw $shadowWidth 0 !important;
        left: -100%;
        animation: fold-up 1s forwards;
        transform-origin: 0 0;
        animation-delay: $delay;
        top: -100% * ceil($i / 2);
        z-index: 2;
      }
      .ir0Shadow{
        border-width: $shadowWidth 0px 0px $iw !important;
        border-color: transparent transparent transparent $shadowClr;
        left: -100%;
        animation: blur-in 1s forwards;
        transform-origin: 0 0;
        animation-delay: $delay;
        top: calc(#{-100% * ceil($i / 2)} - #{$shadowWidth});
        z-index: 2;
        opacity: 0.7 !important;
      }
    }
    @if $i % 4 == 0 {
      .l#{$i} {
        border-color: $clr $clr transparent transparent;
        left: -100%;
        animation: fold-up 1s forwards;
        transform-origin: 0 0;
        animation-delay: $delay;
        top: -100% * ceil($i / 2);
      }
      .r#{$i} {
        border-color: $clr transparent transparent $clr;
        left: 100%;
        top: -100% * ceil($i / 2);
        animation: fold-up 1s forwards;
        animation-delay: $delay;
        transform-origin: 0 0;
      }
    }
    @if $i % 4 == 1 {
      .l#{$i} {
        border-color: transparent $clr $clr transparent;
        left: -100%;
        top: -100% * ceil($i / 2);
        animation: fold-diagonally-left 1s forwards;
        animation-delay: $delay;
      }
      .r#{$i} {
        border-color: transparent transparent $clr $clr;
        left: 100%;
        top: -100% * ceil($i / 2);
        animation: fold-diagonally-right 1s forwards;
        animation-delay: $delay;
        transform-origin: 0 0;
      }
    }
    @if $i % 4 == 2 {
      .l#{$i} {
        border-color: $clr transparent transparent $clr;
        left: -100%;
        top: -100% * ceil($i / 2);
        animation: fold-up 1s forwards;
        transform-origin: 0 0;
        animation-delay: $delay;
      }
      .r#{$i} {
        border-color: $clr $clr transparent transparent;
        left: 100%;
        top: -100% * ceil($i / 2);
        animation: fold-up 1s forwards;
        animation-delay: $delay;
        transform-origin: 0 0;
      }
    }
    @if $i % 4 == 3 {
      .l#{$i} {
        border-color: transparent transparent $clr $clr;
        left: -100%;
        top: -100% * ceil($i / 2);
        animation: fold-diagonally-right 1s forwards;
        animation-delay: $delay;
      }
      .r#{$i} {
        border-color: transparent $clr $clr transparent;
        left: 100%;
        top: -100% * ceil($i / 2);
        animation: fold-diagonally-left 1s forwards;
        animation-delay: $delay;
      }
    }
  }
  
  .t {
    position: relative;
    bottom: -80px;
    left: -5px;
    & > div {
      font-size: $iw/2+7px;
      color: $clr;
      font-weight: 900;
      width: $iw/2+20px;
      height: $iw/2+10px;
      opacity: 0;
      text-indent: -9999px;
    }
  }

  @for $i from 0 through 6 {
    $delay: $i*$t+200+$ts;
    .t#{$i} {
      animation: fade-in $ts forwards;
      animation-delay: $delay*1.2;
      background: url(/assets/images/icons/letters/#{$i}.svg) no-repeat center center transparent;
      background-size: contain;
    }
  }
}

@keyframes open-right {
  to {
    transform: rotate3d(0, -1, 0, 180deg);
    opacity: 0.8;
  }
}
@keyframes open-left {
  to {
    transform: rotate3d(0, -1, 0, 180deg);
    opacity: 0.85;
  }
}
@keyframes fold-up {
  to {
    transform: rotate3d(1, 0, 0, 180deg);
    opacity: 0.75;
  }
}
@keyframes fold-diagonally-left {
  to {
    transform: rotate3d(1, -1, 0, 180deg);
    opacity: 1;
  }
}
@keyframes fold-diagonally-right {
  to {
    transform: rotate3d(1, 1, 0, 180deg);
    opacity: 0.9;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
    transform: rotate(-90deg) rotate3d(1, 0, 1, 360deg);
  }
}

@keyframes blur-in {
  to {
    opacity: 0.8;
  }
}