.pico-content {
    width: 700px !important;
    .modal-header {
        .modal-title {
            font-size: 32px;
            line-height: 36px;
        }
    }
    h3 {
        font-size: 20px;
        font-style: italic;
        span, em {
            font-size: 16px;
            color: #999;
        }
    }
    h4, h5 {
        font-size: 16px;
    }
    h5 {
        font-weight: 600;
    }
    .modalContent {
        .avatar {
            &, img {
                width: 200px;
                height: 200px;
            }
            border-radius: 50%;
            margin: 0 auto;
            box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);
            border: solid 5px #fff;
            overflow: hidden;
            transition: opacity 300ms ease-in-out;
            &:hover {
                opacity: 0.8;
                
            }
        }
        .glimpse {
            text-align: right;
            border-bottom: solid 1px #ccc;
            margin-right: 10px;
            padding: 10px;
        }
        &.modal-track {
            &--1 {
                .modal-title {
                    color: $primary-color;
                }
            }
            &--2 {
                .modal-title {
                    color: $primary_color_orange;
                }
            }
            &--3 {
                .modal-title {
                    color: $secondary_blue;
                }
            }
        }
    }

    @media (max-width: 768px) {
        width: 90% !important;
    }

    .social {
        .icon {
            display: inline-block;
            span {visibility: hidden;}
            width: 30px;
            height: 30px;
            padding: 5px;
            text-indent: -9999px;
            background-size: 120% 120%;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 50%;
            outline: 0;
            transition: all 200ms ease-in-out;
            margin: 5px 20px 20px 0;
            &:hover {
                transform: scale(1.2);
                opacity: 0.9;
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
            }
            &.icon {
                &-twitter {
                    background-image: url(../images/icons/twitter_footer.png);
                    background-color: $primary-color;
                }
                &-fb {
                    background-image: url(../images/icons/facebook_footer.png);
                    background-color: $color_tw_blue;
                }
                &-linkedin {
                    background-image: url(../images/icons/linkedin_footer.png);
                    background-color: $color_tw_blue;
                }
                &-web {
                    background-image: url(../images/icons/web_footer.png);
                    background-color: $color_tw_green;
                }
            }
        }
    }
}