// --------------------
// Registration Form //
// --------------------

.registration-form-container {
	.registration-container {
		margin: 30px auto;
	}
	.register-image {
		background: url('../images/reg.jpg') no-repeat center center transparent;
		background-size: cover;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			background-color: rgba(0,0,0,0.5);
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
}

#registration-form {
    display: flex;
	flex-direction: column;
	padding: 1rem;

	h2{
		font-weight: 300;
		font-size: 2rem;
		margin: 0 auto 1rem;
	}

	sup {
		color: rgba(255, 0, 0, 0.5098039215686274);
		font-weight: normal;
	}

	label{
		display: flex;
		flex-direction: column;
		width: 100%;

		input{
			font-size: 1.2rem;
			padding-left: 0.25rem;
		}

		&.form-label {
			> span {
				&:after {
					content: '*';
					display: inline;
					padding-left: 5px;
					position: relative;
					color: red;
					font-size: 14px;
				}
			}
		}
	}

	.submit-form {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		margin-bottom: 10px;
		padding-top: 10px;
	}

	button[type="submit"]{
		padding: 10px 25px;
		font-weight: 600;
		font-size: 20px;
		color: white;
		border-radius: 4px;
		box-shadow: 0px 2px 9px 1px rgba(17, 172, 89, 0.18);
		cursor: pointer;
		background-color: #11aa58;
	}
}