// --------------------
// Registration Form //
// --------------------

.registeration-section {
	background: rgba(246,138,50,1);
background: -moz-linear-gradient(45deg, rgba(246,138,50,1) 0%, rgba(214,108,28,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(246,138,50,1)), color-stop(100%, rgba(214,108,28,1)));
background: -webkit-linear-gradient(45deg, rgba(246,138,50,1) 0%, rgba(214,108,28,1) 100%);
background: -o-linear-gradient(45deg, rgba(246,138,50,1) 0%, rgba(214,108,28,1) 100%);
background: -ms-linear-gradient(45deg, rgba(246,138,50,1) 0%, rgba(214,108,28,1) 100%);
background: linear-gradient(45deg, rgba(246,138,50,1) 0%, rgba(214,108,28,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68a32', endColorstr='#d66c1c', GradientType=1 );
	h1, p {
		color: #fff;
	}
	h1:after {
		background: #fff;
	}
	.register-button {
		display: inline-block;
		position: relative;
		background: $primary_color;
		color: #fff;
	}
	.register-button.disabled {
		opacity: 1;
		color: #deffeb;
	}

	.sorry {
		font-style: italic;
	}
}

.webinar-section {
	background: rgb(235, 235, 235);
	a.hacker-earth-button {
		background: rgba(246,138,50,1);
		color: #fff;
		text-align: center;
		padding: 10px 30px;
		box-shadow: 0 6px 15px rgba($color_shark_approx, 0.4);
	}
}

@media all and(min-width: 767px) {
	.webinar-section {
		a.hacker-earth-button {
			margin-top: 0;
		}

		.side-section {
			text-align: right;
		}
	}
}


.registration-form-container {
	.registration-container {
		margin: 30px auto;
	}
	.register-image {
		background: url('../images/bg/register.jpg') no-repeat center center transparent;
		background-size: cover;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.5);
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
}

#registration-form {
	display: flex;
	flex-direction: column;
	padding: 1rem;

	h2 {
		font-weight: 300;
		font-size: 2rem;
		margin: 0 auto 1rem;
	}

	sup {
		color: rgba(255, 0, 0, 0.5098039215686274);
		font-weight: normal;
	}

	label.form-label {
		display: flex;
		flex-direction: column;
		width: 100%;

		input {
			font-size: 1.2rem;
			padding-left: 0.25rem;
		}

		&.required{
			& > span {
				&:after {
					content: '*';
					display: inline;
					padding-left: 5px;
					position: relative;
					color: red;
					font-size: 14px;
				}
			}
		}

	}

	.submit-form {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		margin-bottom: 10px;
		padding-top: 10px;
	}

	button[type="submit"] {
		padding: 10px 25px;
		font-weight: 600;
		font-size: 20px;
		color: white;
		border-radius: 4px;
		box-shadow: 0px 2px 9px 1px rgba(17, 172, 89, 0.18);
		cursor: pointer;
		background-color: $color_tw_green;
	}

	.checkbox {
		font-size: 16px;
		label {
			margin-bottom: -4px;
		}
	}
}