$entry_color: $primary_color;
$time_color: $primary_color;

$track-color: $primary_color;
$timeline_bar_color: #808285;
$timeline_circle_color: #f78f31;

.timeline {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  background-color: inherit;
  padding-left: 0;
  list-style: none;

  h2 {
    font-family: $font_0, $font_1;
    margin-bottom: 0;
    font-size: 23px;
    color: $black;
    line-height: 36px;
    padding: 10px 30px;
    background: $primary_color;
    color: $white;
  }

  p {
    font-family: $font_0, $font_2;
    font-style: italic;
    font-size: 18px;
    padding: 20px 30px;
  }

  &:after {
    content: "";
    position: absolute;
    width: 4px;
    background: $timeline_bar_color;
    left: 50%;
    top: 0;
    bottom: -50px;
    margin-left: -2px;
    z-index: -1;
  }

  &--first:after {
    top: 20px;
  }

  .era {
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;

    &__title {
      background: $time_color;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 4px;
    }
  }

  .entry {
    padding: 10px 0;
    width: 50%;
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      top: 20px;
      border: solid 12px transparent;
    }

    &:after {
      visibility: hidden;
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      right: -12px;
      background-color: $white;
      border: 4px solid $timeline_circle_color;
      top: 20px;
      border-radius: 50%;
      z-index: 1;
    }

    &--left {
      visibility: hidden;

      &:before {
        right: 20px;
        border-left-color: $entry_color;
      }
    }

    &--right {
      visibility: hidden;

      &:before {
        left: 20px;
        border-right-color: $entry_color;
      }
    }

    &--right:after {
      visibility: hidden;
      right: auto;
      left: -12px;
    }

    &__content {
      background: #ebebeb;
      position: relative;
      border-radius: 4px;
      border: solid 1px $primary_color;
      color: $black !important;

    }
  }

  .time {
    background: $time_color;
    position: absolute;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: default;
    color: $white;
    text-align: center;
    width: 200px;

    &:before {
      content: " ";
      position: absolute;
      border: 12px solid transparent;
    }

    &--right {
      visibility: hidden;

      &:before {
        border-right-color: $time_color;
        left: -20px;
      }
    }

    &--left {
      visibility: hidden;

      &:before {
        border-left-color: $time_color;
        right: -20px;
      }
    }
  }
  @mixin bgTrack($breakColor, $notEmptyTrack: true) {
    .entry__content {
      border-color: $breakColor;
    }
    .entry__content h2, .time, .track-title {
      background: $breakColor;
      border-color: $breakColor;
    }
    &.entry--left:before, .time--left:before  {
      border-left-color: $breakColor;
    }
    .time--right:before, &.entry--right:before  {
      border-right-color: $breakColor;
    }
    @if($notEmptyTrack) {
      .entry__content {
        background: $breakColor;
      }
    }
  }
  .entry{
    &.bg {
      // &--keynote {
        
      // }
      
      // &--talk {

      // }
      // &--small-talk {

      // }
      // &--pop-quiz {

      // }
      // &--workshop {

      // }
      // &--feedbacks {

      // }
    }
    &.track {
      &--1 {
        @include bgTrack($primary_color, false);
        &.bg--break {
          @include bgTrack($color_mine_shaft_approx);
        }
        &.bg--switch {
          @include bgTrack($color_tw_army_green);
        }
      }
      &--2 {
        @include bgTrack($primary_color_orange, false);
      }
      &--3 {
        @include bgTrack($secondary_blue, false);
      }
    }
  }
  .track-title {
    position: absolute;
    left: 0;
    height: 50px;
    display: block;
    opacity: 1;
    transform: rotate(-90deg);
    height: 20px;
    width: 165px;
    transform-origin: left top;
    text-align: center;
    padding-right: 55px;
    line-height: 20px;
    font-size: 14px;
    color: $white;
  }
}

@media all and (max-width: 768px) {
  .navbar .container{
    margin-left: 100px;
  }
  .timeline {
    max-width: 80%;

    &:after {
      height: calc(100% + 20px);
      left: 0%;
    }

    .era {
      text-align: left;
      margin-left: -30px;
    }

    .entry {
      width: 100%;
      margin-bottom: 50px;
      padding-left: 0px;
      padding-right: 40px;
      .track-title {
        width: 200px;
      }

      &:before {
        right: auto;
        left: 56px;
        margin-left: 0;
      }

      &:after {
        left: -12px;
      }

      &__content {
        top: 50px;
        left: 40px;
      }
    }

    .time {
      left: 40px;

      &--left {
        &:before {
          border-left: 0px;
          right: calc(100% - 4px);
          border-right-color: $time_color;
        }
      }

      &:after {
        left: 15px;
      }
    }
  }

  @keyframes entry-move-left-to-right {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0px;
    }
  }

  @keyframes entry-move-right-to-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0px;
    }
  }
}

@media all and (min-width: 768px) {
  @keyframes entry-move-left-to-right {
    from {
      right: 70%;
    }
    to {
      right: 0%;
      padding-right: 40px;
    }
  }

  @keyframes entry-move-right-to-left {
    from {
      margin-left: 120%;
    }
    to {
      margin-left: 50%;
      padding-left: 40px;
    }
  }

  @keyframes time-move-left-to-right {
    from {
      right: calc(400% + 40px);
    }
    to {
      right: calc(100% + 40px);
    }
  }

  @keyframes time-move-right-to-left {
    from {
      left: calc(400% + 40px);
    }
    to {
      left: calc(100% + 40px);
    }
  } 
}

@keyframes show-after-animation-complete {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.left-entry-in-view {
  animation: entry-move-left-to-right 1s forwards;
  visibility: visible !important;

  .time--right {
    visibility: visible !important;
    animation: time-move-right-to-left 1s forwards;
  }

  &:after {
    visibility: visible !important;
    animation: show-after-animation-complete 1s forwards;
  }
}

.right-entry-in-view {
  animation: entry-move-right-to-left 1s forwards;
  visibility: visible !important;

  .time--left {
    visibility: visible !important;
    animation: time-move-left-to-right 1s forwards;
  }

  &:after {
    visibility: visible !important;
    animation: show-after-animation-complete 1s forwards;
  }
}
