//colors
$color_woodsmoke_approx: #111;
$color_log_cabin_approx: #232323;
$white: #fff;
$event-bg-color: #ebebeb;
$black: #202020;
$color_mine_shaft_approx: #2d3034;

$primary_color: #26bdcf;
$secondary_blue: #0578be;
$primary_color_orange: #f68a32;

$color_tw_green: #11aa58; // TW Green
$color_tw_army_green: rgb(137, 183, 127); // TW army green
$color_tw_blue: rgb(26, 115, 186); // TW Blue

$color_raven_approx: #6c7a89;
$color_link_water_approx: #e4e2f4;

$color_wild_sand_approx: #f2f4f8;
$color_shark_approx: #292929;
$color_celeste_approx: #cccccc;
$black_30: rgba(0, 0, 0, 0.3);
$color_steel_blue_approx: #4b77be;
$color_sapphire_approx: #3a539b;
$color_silver_approx: #bdbdbd;
$black_18: rgba(0, 0, 0, 0.18);
$color_star_dust_approx: #959aa1;
$color_alabaster_approx: #f9fafb;
$black_10: rgba(0, 0, 0, 0.1);
$gallery: #efefef;
$color_mystic_approx: #e3e2ef;
$color_athens_gray_approx: #ecebf3;
$color_waterloo__approx: #798593;
$color_bon_jour_approx: #e1e1e1;
$color_pewter_approx: #949ea9;
$color_dull_lavender_approx: #a099dc;
$color_moon_raker_approx: #cfcbed;
$color_tapa_approx: #757575;
$color_tundora_approx: #444444;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;
$font_2: serif;
$font_3: FontAwesome;

//urls
$url_2: url(../images/bg/bg.jpg);
$url_3: $url_2;
$url_18: url(../images/faq-bg.png);
$url_29: url(../images/icons/facebook_footer.png);
$url_30: url(../images/icons/twitter_footer.png);
$url_31: url(../images/icons/youtube_footer.png);
$url_32: url(../images/icons/linkedin_footer.png);
$url_33: url(../images/icons/instagram_footer.png);

//@extend-elements
//original selectors
//.paragraph, section.register-section .register-box #register-form .subcribe-bx span, .article-box span, a.more-btn, .conference-features .center-area a, .about-event-box a, section.schedule-section3 .schedule-box .schedule-block .schedule-speakers ul.speaker-list li span, section.speaking-single .single-box .single-image a, section.blog-section .blog-box .blog-post span.date-comments, section.blog-section .blog-box .blog-post ul.post-tags li, .pagination-box a.prev, .pagination-box a.next, section.news-section .news-box .news-post span, section.news-section2 .blog-post span.date-comments, p
%paragraph {
	font-size: 18px;
	color: $color_raven_approx;
	font-family: $font_0, $font_1;
	font-weight: 300;
	line-height: 30px;
	margin: 0 0 10px;
}

//original selectors
//.heading1, h1
%heading1 {
	color: $color_mine_shaft_approx;
	font-size: 48px;
	font-family: $font_0, $font_1;
	font-weight: 400;
	line-height: 52px;
	margin: 0 0 20px;
}

//original selectors
//.heading2, section.promo-banner-section .promo-banner-box span, section.promo-banner-section2 .promo-banner-box span, section.promo-banner-section3 .promo-banner-box span, h2
%heading2 {
	color: $color_mine_shaft_approx;
	font-size: 24px;
	font-family: $font_0, $font_1;
	font-weight: 400;
	margin: 0 0 10px;
	line-height: 28px;
}

//original selectors
//.heading3, h3
%heading3 {
	color: $color_mine_shaft_approx;
	font-size: 18px;
	font-family: $font_0, $font_1;
	font-weight: 400;
	margin: 0 0 4px;
	line-height: 28px;
}

//original selectors
//.anchor, a
%anchor {
	display: inline-block;
	text-decoration: none !important;
	transition: all 0.2s ease-in-out;
}

