//colors
$color_woodsmoke_approx: #111;
$color_log_cabin_approx: #232323;
$white: #fff;
$black: #202020;
$color_mine_shaft_approx: #2d3034;

$primary_color: #26bdcf;
$secondary_blue: #0578be;
$primary_color_orange: #f68a32;

$color_tw_green: rgb(17, 170, 88); // TW Green
$color_tw_army_green: rgb(137, 183, 127); // TW army green
$color_tw_blue: rgb(26, 115, 186); // TW Blue

$color_raven_approx: #6c7a89;
$color_link_water_approx: #e4e2f4;
$color_mountain_mist_approx: #999999;

$color_wild_sand_approx: #f2f4f8;
$color_shark_approx: #292929;
$color_celeste_approx: #cccccc;
$black_30: rgba(0, 0, 0, 0.3);
$black: #000;
$color_steel_blue_approx: #4b77be;
$color_sapphire_approx: #3a539b;
$color_silver_approx: #bdbdbd;
$black_18: rgba(0, 0, 0, 0.18);
$color_star_dust_approx: #959aa1;
$color_alabaster_approx: #f9fafb;
$black_4: rgba(0, 0, 0, 0.04);
$color_gallery_approx: #ededef;
$black_10: rgba(0, 0, 0, 0.1);
$gallery: #efefef;
$color_prelude_approx: #c9c4ee;
$color_mystic_approx: #e3e2ef;
$color_baltic_sea_approx: #2b2b2c;
$black_5: rgba(0, 0, 0, 0.05);
$white_90: rgba(255, 255, 255, 0.9);
$color_desert_storm_approx: #f7f8f9;
$color_athens_gray_approx: #ecebf3;
$color_waterloo__approx: #798593;
$color_bon_jour_approx: #e1e1e1;
$color_ship_gray_approx: #3c3d3f;
$black_15: rgba(0, 0, 0, 0.15);
$color_biloba_flower_approx: #b1a8ff;
$color_pewter_approx: #949ea9;
$black_14: rgba(0, 0, 0, 0.14);
$color_dull_lavender_approx: #a099dc;
$color_snuff_approx: #d8d6ed;
$white_15: rgba(255, 255, 255, 0.15);
$color_white_lilac_approx: #f6f8fa;
$color_moon_raker_approx: #cfcbed;
$color_sunset_orange_approx: #f64747;
$color_picton_blue_approx: #47bbe1;
$color_cinnabar_approx: #ee3d3d;
$color_tapa_approx: #757575;
$color_cerulean_blue_approx: #3c43d4;
$color_havelock_blue_approx: #3c84d4;
$color_royal_blue_approx: #3c63d4;
$color_mulberry_approx: #b64e9c;
$color_tundora_approx: #444444;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;
$font_2: serif;
$font_3: FontAwesome;

//urls
$url_0: url(../images/banners/ban2.jpg);
$url_1: url(../images/banners/ban2@2x.jpg);
$url_2: url(../images/bg/bg.png);
$url_3: url(../images/bg/bg.png);
$url_4: url(../images/banners/ban1.jpg);
$url_5: url(../images/banners/ban1@2x.jpg);
$url_6: url(../images/banners/ban6.jpg);
$url_7: url(../images/banners/ban6@2x.jpg);
$url_8: url(../images/banners/ban8.jpg);
$url_9: url(../images/banners/ban8@2x.jpg);
$url_10: url(../images/want-to-present-bg.png);
$url_11: url(../images/want-to-present-bg@2x.png);
$url_12: url(../images/want-to-join-bg.png);
$url_13: url(../images/want-to-join-bg@2x.png);
$url_14: url(../images/banners/ban5.jpg);
$url_15: url(../images/banners/ban5@2x.jpg);
$url_16: url(../images/dev4.png);
$url_17: url(../images/dev8.png);
$url_18: url(../images/faq-bg.png);
$url_19: url(../images/dev9.png);
$url_20: url(../images/dev6.png);
$url_21: url(../images/banners/ban7.jpg);
$url_22: url(../images/banners/ban7@2x.jpg);
$url_23: url(../images/dev7.png);
$url_24: url(../images/banners/ban4.jpg);
$url_25: url(../images/banners/ban4@2x.jpg);
$url_26: url(../images/banners/banner.html);
$url_27: url(../images/banners/banner@2x.html);
$url_28: url(../images/dev1.png);
$url_29: url(../images/icons/facebook_footer.png);
$url_30: url(../images/icons/twitter_footer.png);
$url_31: url(../images/icons/youtube_footer.png);
$url_32: url(../images/icons/linkedin_footer.png);
$url_33: url(../images/icons/instagram_footer.png);

//@extend-elements
//original selectors
//.paragraph, section.register-section .register-box #register-form .subcribe-bx span, .article-box span, a.more-btn, .conference-features .center-area a, .about-event-box a, section.schedule-section3 .schedule-box .schedule-block .schedule-speakers ul.speaker-list li span, section.speaking-single .single-box .single-image a, section.blog-section .blog-box .blog-post span.date-comments, section.blog-section .blog-box .blog-post ul.post-tags li, .pagination-box a.prev, .pagination-box a.next, section.news-section .news-box .news-post span, section.news-section2 .blog-post span.date-comments, p
%paragraph {
	font-size: 18px;
	color: $color_raven_approx;
	font-family: $font_0, $font_1;
	font-weight: 300;
	line-height: 30px;
	margin: 0 0 10px;
}

//original selectors
//.heading1, h1
%heading1 {
	color: $color_mine_shaft_approx;
	font-size: 48px;
	font-family: $font_0, $font_1;
	font-weight: 400;
	line-height: 52px;
	margin: 0 0 20px;
}

//original selectors
//.heading2, section.promo-banner-section .promo-banner-box span, section.promo-banner-section2 .promo-banner-box span, section.promo-banner-section3 .promo-banner-box span, h2
%heading2 {
	color: $color_mine_shaft_approx;
	font-size: 24px;
	font-family: $font_0, $font_1;
	font-weight: 400;
	margin: 0 0 10px;
	line-height: 28px;
}

//original selectors
//.heading3, h3
%heading3 {
	color: $color_mine_shaft_approx;
	font-size: 18px;
	font-family: $font_0, $font_1;
	font-weight: 400;
	margin: 0 0 4px;
	line-height: 28px;
}

//original selectors
//.anchor, a
%anchor {
	display: inline-block;
	text-decoration: none !important;
	transition: all 0.2s ease-in-out;
}

