doctype html
html.no-js(lang='en')
  head
    include ../templates/partials/meta
    include ../templates/partials/google-analytics

  body
    #home
      #container
        block content

    block footerScripts
